body{
  text-align: center;
  background-color: rgb(51,51,51);
  color:white;
  font-family: roboto,ariel;
  padding:0px;
  display: inline;
}

h2{
  padding: 10px;
  position: absolute;
}

.main{

  padding:20px;
  display:absolute;
  top:25%;
}

.image{
  padding: 4%;
  width: 33%;
  height: auto;
  float:left;
  top:30%;
}

#table{
  float:left;
  position:absolute;
  left:50%;
  top:25%;
  transform: translate(-50%,0%);

}

#table tbody tr td{
  padding:10px;
}

#preview{
  margin: 4%;
  width: 33%;
  height: auto;
  right:10px;
  float:right;
}

.right{
  float: right;
  right:20%;

}
.left{
  float: left;
  left:20%
}
.btnQuantise{
  position:absolute;
  border:none;
  border-radius: 30;
  background-color: rgb(24, 224, 24);
  padding: 20px;
  left:50%;
  bottom:10%;
  transform: translate(-50%,0%);
}

.btnQuantise:hover{
  background-color: rgb(24, 170, 24);
}
